.App {
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */

}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
}

.App-logo {
  height: 200px !important;
}

.Tok-logo {
  height: 50px !important;
}

.Shirt {
  height: 200px !important;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
  background-color: #282c34;
  color: white;
      background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */

}

img {
  max-width: 100%;
  height: auto;
      background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */

}

table {
      background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */

  margin: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .App-header {
    padding: 1rem;
  }
}